.link {
  box-shadow: none;
}

.nav-link {
  @extend .link;
  font-family: "Merriweather Sans", sans-serif;
}

.home-icon-link {
  font-size: 0;
  padding: 5px;
  margin-right: 20px;
  img {
    margin-bottom: 0;
  }
  a {
    @extend .link;
    height: 50px;
  }
}
.children {
  margin-top: 1rem;
  text-align: center;
}
